<html> 

<head>

	{{>navbar}}

	<style>
		/* Style font */
		body {
  			font-family: Arial, Helvetica, sans-serif;
  			margin: 50;
		}

	</style>

</head>

<body>
    
    <h2> AJUSTES DE CUENTA </h2>
    
	<h4>Cambiar contraseña: </h4>

	<form>
		<input type='text' name='name'/>
		<br></br>
	</form>

	<hr>
		
	<p>
		<input type='submit' value='Deseo ocultar mi cuenta'/>
	</p>
    
    <p>
		<input type='submit' value='Deseo eliminar mi cuenta'/>
	</p>	
		
	<hr>
		
	<p>
		<input type='submit' value='Guardar cambios'/>
	</p>
    
    <p>
		<input type='submit' value='Descartar cambios'/>
	</p>
	
</body> 
</html>