<!DOCTYPE html>
<html>

<head>

	<title>Create Review</title>
	
	<link rel="stylesheet" href="/css/rate.css">
	<script src="https://kit.fontawesome.com/44cc13b6b7.js" crossorigin="anonymous"></script>
	
	{{>navbar}}

</head>

<body>
	
	<div class="container">

        <h1 style="color: white">{{place_name}}</h1>
        <br>
        <p style="color: white">¿Cuántas patitas se merece este sitio?</p>
        <br>
		
			<form method="post" action="/confirmReview">
              
				<div class="paw">
					<input type="radio" name="rating" value="5" id="rate5">
					<label for="rate5" class="fa-solid fa-paw"></label>
					<input type="radio" name="rating" value="4" id="rate4">
					<label for="rate4" class="fa-solid fa-paw"></label>
					<input type="radio" name="rating" value="3" id="rate3">
					<label for="rate3" class="fa-solid fa-paw"></label>
					<input type="radio" name="rating" value="2" id="rate2">
					<label for="rate2" class="fa-solid fa-paw"></label>	
					<input type="radio" name="rating" value="1" id="rate1">
					<label for="rate1" class="fa-solid fa-paw"></label>
              	</div>
              
				<div class="textarea">
					<textarea cols="30" name="review" placeholder="Describe tu experiencia..."></textarea>
				</div>
				
				<div class="btn">
					<button type="submit">Guardar</button>
				</div>
              <input type='hidden' name='_csrf' value="{{token}}"/>
			</form>				
													
		</div>

</body>

</html>