<!DOCTYPE html>
<html>

<head>

    <title>Create Deal</title>

    <link rel="stylesheet" href="/css/createdeal.css">

    {{>navbar}}

</head>

<body>

<div class="container">


    <h1 style="color: white; text-align: center;">CREAR OFERTA:</h1>
    <br>
    <hr>
    <br>
    <p style="color: white"><b>Lugar: </b> {{place_name}}</p>
    <br>

    <form method="post" action="/addNewDeal">

        <p style="color: white"><b>Cabecera de la oferta: </b></p>
        <br>

        <div class="headarea">
            <textarea cols="30" name="header" placeholder="Añade una cabecera para la oferta..."></textarea>
        </div>

        <br>
        <p style="color: white"><b>Descripción de la oferta: </b></p>
        <br>

        <div class="textarea">
            <textarea cols="30" name="description" placeholder="Añade una descripción de la oferta..."></textarea>
        </div>

        <div class="btn">
            <button type="submit">Guardar</button>
        </div>

        <input type='hidden' name='_csrf' value="{{token}}"/>

    </form>

</div>

</body>

</html>