<html>   

<head>

	{{>navbar}}

	<style>
		/* Style font */
		body {
  			font-family: Arial, Helvetica, sans-serif;
  			margin: 40;
		}

	</style>

</head>


<body>

	<h2> EDITAR PERFIL: </h2>
        
        <h4>Cambiar nombre:</h4>
        
		<h1 style="color: #8080ff;" font-family: Helvetica, sans-serif;>{{name}}</h1>

        <form>
        	<label for='name'>Nuevo nombre:</label>
			<input type='text' name='name'/>
			<br></br>
		</form>
		
        <hr>
        
    
        <h4>Cambiar foto de perfil:</h4>    
    
  		<p><img src="/image" width="100" height="100" /></p>
        
        <form action="/upload_image" method="post" enctype="multipart/form-data">
			<input type='file' name='image' accept=".jpg, .jpeg"/>
			<br></br>
		</form>
        
        <hr>
        
        
        <h4>¿Desea mostrar sus reviews? </h4>

        <form>
        
        	<ul>
			{{#review_list}

				<h4>{{review_place}}<h4>
				<p>{{review_text}}</p>
				
                <label>Oculto:</label>
				<input type='checkbox' name='rev1'/>
			
				<br>
			
			{{/review_list}}
			</ul>

		</form>
		
        <hr>
        
        <input type='submit' value='Guardar cambios'/>
               
</body> 
</html>