<html>
<head>

	<style type=text/css>
    
		footer {
  			padding: 20px;
  			text-align: center;
  			background: pink;
            font-family: Helvetica, sans-serif;
            color: white;
		}       


		footer * {
			display: inline;
		}
        
	</style>

</head>

<footer>
	<div class="footer">
    
		<h2>Furry Advisor</h2>
        <br>
        <br>
		<p>Gonzalo Lobo Gonzalez</p>
        <br>
        <p>Javier Balenzategui García</p>
        <br>
        <p>Carlos Mariano García Sanz</p>
        
	</div>
</footer>
</html>