<html>

<head>

	<title>Login</title>

</head>

<body>
	
	{{>navbar}}
	
	<form action='/login' method='post'>
		<p>Por favor, introduzca sus datos para iniciar sesión: </p>
			<label for='userName'>Nombre de usuario: </label>
			<input type='text' id='userName' name='userName'/>
			<label for='userPassword'>Contraseña: </label>
			<input type='password' id='userPassword' name='userPassword'/>
			<input type='hidden' name='_csrf' value="{{token}}"/>
			
		<p> <input type='submit' value='Enviar'/> </p>
	</form>
	
	</body>
</html>