<html>
<head>    
  
<style type=text/css> 
 
header {
background-color: rgb(47, 65, 79);
position: fixed;
left: 0;
right: 0;
top: 0px;
height: 30px;
display: flex;
align-items: center;
font-family: Helvetica, sans-serif;
}
  
header * {
display: inline;
}
  
header li {
margin: 25px;
}
  
header li a {
color: white;
text-decoration: underline pink;
}
  
</style> 
  
</Head>
  
<header>
  
<nav>
<li>
<a href="/home">Home</a>
</li>
<li>
<a href="/search">Search</a>
</li>
<li>
<a href="/support">Support</a>
</li>
<li> 
<a href="/profile">Profile</a>
</li>
<li>
<a href="/login">Settings</a>
</li>
</nav>

</header>

</html>
  
  