<head>

	<link rel="stylesheet" href="/css/navbar.css">
	<script src="https://kit.fontawesome.com/44cc13b6b7.js" crossorigin="anonymous"></script>

</head>

<navbar>

	<nav>
		<li>
			<a href="/home"><div class="fa-solid fa-house"></div> Home</a>
		</li>

		<li>
			<a href="/searchPlatform"><div class="fa-solid fa-magnifying-glass"></div> Search</a>
		</li>

		{{#user}}
		<li>
			<a method="get" href="/profile/{{user.nickname}}"><div class="fa-solid fa-user"></div> Profile</a>
		</li>
		{{/user}}

		<li>
			{{#newoffer}}
			<a class="right"><div onclick="openForm()" class="fa-solid fa-info"> ¡Hay nuevas ofertas! uwu</div></a>
			{{/newoffer}}
		</li>

		<li>
			<a href="/login" method='get' class="right">Login</a>
		</li>

		<li>
			<a href="/register" class="right">Sign up</a>
		</li>

		<li>
			<form method="post" action="/logout">
				<input type="submit" value="Log Out"></input>
				<input type='hidden' name='_csrf' value="{{token}}"/>
			</form>
		</li>

	</nav>

</navbar>

<body>

<div class="chat-popup" id="myForm">
	<form class="form-container">


		<button type="button" class="btn cancel" onclick="closeForm()">Cerrar</button>
	</form>
</div>

<script>

	function openForm() {
		document.getElementById("myForm").style.display = "block";
	}

	function closeForm() {
		document.getElementById("myForm").style.display = "none";
	}

	function funcToast() {
		var x = document.getElementById("toast");
		x.className = "show";
		setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);
	}

</script>

</body>
