<!DOCTYPE html>
<html>
<head>
	<title>Search</title>
</head>

<body>

	{{>navbar}}

	<form>
		<fieldset>
			<legend><b>Busca un lugar uwu</b></legensd>
			
			<div>
				<label>Ciudad</label>
			</div>
			<div>
				<input list = "location_list" type = "text"> 			
				<datalist id = "location_list">
					<option value = Madrid>
					<option value = Barcelona>
				</datalist>
			</div>
			
			<br>
			
			<div>
				<label>Tipo de lugar</label>
			</div>
			<div>
				<input list = "type_list" type = "text"> 			
				<datalist id = "type_list">							
					<option value = Tienda>							
					<option value = Club>						
					<option value = Bar>	
					<option value = Evento>	
				</datalist>
			</div>			
			
			<br>
			
			<div>
    			<button>  Buscar </button>
  			</div>
		
		</fieldset>
	</form>
	
	<input list = "places_list" type = "Place">
	<datalis id = "places_id">
	
</body>
</html>