<!DOCTYPE html>
<html>
<head>
	<title>Search</title>
</head>

<body>

	{{>navbar}}

	<form method='get' action='/search'>
		<fieldset>
			<legend><b>Busca un lugar uwu</b></legend>
			
			<div>
				<label>Ciudad</label>
			</div>
			<div>
				<input list = "location_list" type = "text" name='locationFilter'>
				<datalist id = "location_list"> 			
					<ul>
						{{#location_list}}
							<option value = {{name}}>
						{{/location_list}}
					</ul>
				</datalist>
			</div>
			
			<br>
			
			<div>
				<label>Tipo de lugar</label>
			</div>
			<div>
				<input list = "type_list" type = "text"  name='typeFilter'> 			
				<datalist id = "type_list">							
					<option value = Tienda>							
					<option value = Club>						
					<option value = Bar>	
					<option value = Evento>	
				</datalist>
			</div>			
			
			<br>
			
			<div>
    			<button>  Buscar </button>
  			</div>
		
		</fieldset>
	</form>
	
	<ul>
		{{#places_list}}
		
		    <div style="height:100px;">
        		<img src="/image" width="100" height="100"/>
    		</div>
    		
			<a href='/place'>{{name}}</a>
			
			<br>
			
		{{/places_list}}
	</ul>
	
</body>
</html>