<html>

<body>

<button class="open-button" onclick="openForm()">Novedades</button>

<div class="chat-popup" id="myForm">
    <form action="/action_page.php" class="form-container">
        <h1>{{place}}</h1>

        <label for="msg"><b>{{offer}}</b></label>

        <br>
        <hr>
        <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
    </form>
</div>

<script>
    function openForm() {
        document.getElementById("myForm").style.display = "block";
    }

    function closeForm() {
        document.getElementById("myForm").style.display = "none";
    }
</script>

</body>
</html>
