navbar {
    background-color: rgb(47, 65, 79);
    position: sticky;
    height: 40px;
    display: flex;
    align-items: center;
    font-family: Helvetica, sans-serif;
}

navbar * {
    display: inline;
}

navbar li {
    margin: 0;
}

navbar li a {
    color: white;
    text-decoration: none;
}

navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

navbar a.right {
    float: right;
}

navbar a:hover {
    background-color: azure;
    color: black;
}


/*-----------------------------------*/


#toast {
    visibility: hidden;
    min-width: 250px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 5%;
    top: 5%;
    font-family: Helvetica, sans-serif;
    font-size: 17px;
}

#toast.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}


/*-----------------------------------*/


/* Button used to open the chat form */
.open-button {
    background-color: #555;
    color: pink;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
}

/* The popup chat - hidden by default */
.chat-popup {
    display: none;
    bottom: 0;
    right: 15px;
    z-index: 9;
}

/* Add styles to the form container */
.form-container {
    max-width: 300px;
    padding: 10px;
    background-color: pink;
    color: white;
    font-family: Helvetica, sans-serif;
}

/* Set a style for the submit/send button */
.form-container .btn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.75;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
    background-color: #555;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
    opacity: 1;
}